{% extends "base.html" %}

{% block content %}
<div class="content-textbox w-container">
    <h1 class="content-headline">Contact</h1>
    <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
</div>
<div class="content-textbox w-container">
    <form method="POST" onsubmit="return checkForm(this);">
    <div><label>Name<input type="text" name="name" minlength="3" maxlength="30" required></label></div>
    <div><label>E-Mail<input type="email" name="email" minlength="3"  maxlength="30" required></label></div>
    <div><label>Subject<input type="text" name="subject" minlength="3"  maxlength="30" required></label></div>
    <div><label>Message<input type="text" name="message" minlength="3"  maxlength="250" required></label></div>
    <div><label>Terms and conditions <input type="checkbox" name="tac"></label></div>
    <input type="submit" value="Send Message">
    </form>
</div>
{% endblock %}  erhalten