{% extends "base.html" %}

{% block content %}
  <div class="content-textbox w-container">
    <h1 id="main" class="content-headline">Welcome</h1>
    <p class="content-text">
      You want to learn Portuguese?<br>
    You are searching for an efficent way?<br>
    You want to learn with high quality material?<br>
    You need a fit to your personal learning type?<br>
    If yes, you can stop your search, because you arrived Português Acústico!
    </p>
  </div>
  <div class="presentation-textbox w-container">
      <h1 class="presentation-headline">Free demo Text-Files</h1>
      <p class="presentation-text">Before you have to pay anything you can check out our demo text-files. Also check out our <a class="burger-menu-link" href="/series" title="Navigation to Series">Series</a> or <a class="burger-menu-link" href="/solo_activities" title="Navigation to Solo-Activities">Solo-Activities</a>!</p>
      <div class="presentation-contents"><a href="{{ url_for('static', filename='documents/1_Informativa_Pegadas de dinossauros - FINAL.pdf') }}"><img src="{{ url_for('static', filename='images/PDF.png') }}" loading="lazy" alt="PDF icon" class="presentation-image-file image"></a></div>
      <div class="presentation-contents"><a href="{{ url_for('static', filename='documents/3_Praia_FINAL.pdf') }}"><img src="{{ url_for('static', filename='images/PDF.png') }}" loading="lazy" alt="PDF icon." class="presentation-image-file image"></a></div>
      <div class="presentation-contents"><a href="{{ url_for('static', filename='documents/BR_A criação da noite.pdf') }}"><img src="{{ url_for('static', filename='images/PDF.png') }}" loading="lazy" alt="PDF icon" class="presentation-image-file image"></a></div>
  </div>
  <div class="presentation-textbox w-container">
    <h1 class="presentation-headline">Free demo Audio-Files</h1>
    <p class="presentation-text">We also provide demo audio.-files. Also check out our <a class="burger-menu-link" href="/series" title="Navigation to Series">Series</a> or <a class="burger-menu-link" href="/solo_activities" title="Navigation to Solo-Activities">Solo-Activities</a>!</p>
    <div class="presentation-contents"><a href="{{ url_for('static', filename='documents/Informativa_Pegadas_only_3.m4a') }}"><img src="{{ url_for('static', filename='images/MP3.png') }}" loading="lazy" alt="MP3 icon" class="presentation-image-file image"></a></div>
    <div class="presentation-contents"><a href="{{ url_for('static', filename='documents/Praia_FINAL.mp3') }}"><img src="{{ url_for('static', filename='images/MP3.png') }}" loading="lazy" alt="MP3 icon" class="presentation-image-file image"></a></div>
    <div class="presentation-contents"><a href="{{ url_for('static', filename='documents/criacao_only_2.m4a') }}"><img src="{{ url_for('static', filename='images/MP3.png') }}" loading="lazy" alt="MP3 icon" class="presentation-image-file image"></a></div>
</div>
<div class="presentation-textbox w-container">
  <h1 class="presentation-headline">and more...</h1>
  <p class="presentation-text">In the next month we want to provide more and more learn materials for you. Additional we want to increase the amont of tutorials and different learning units. Stay tuned. Write uns a <a class="burger-menu-link" href="/contact" title="Contact on Navigatoin-Bar">message to keep intouch</a> and stay updated!</p>
</div>
  <div class="testemonials w-container">
    <div class="w-layout-grid testemonial-grid">
      <h1 id="w-node-cf74c405-2277-1a37-4d2a-79400f061499-9369d940" class="testemonials-headline">Testimonials</h1>
      <div class="testemonial-card">
        <div class="testemonial-mask avatar-1"></div>
        <h3 class="testemonial-names">Morton Dixon</h3>
        <p class="testemonials-texts">"Português Acústico is the real deal! It's incredible."</p>
      </div>
      <div class="testemonial-card">
        <div class="testemonial-mask avatar-2"></div>
        <h3 class="testemonial-names">Isabel Ross</h3>
        <p class="testemonials-texts">"Português Acústico is worth much more than I paid. Português Acústico saved my business. Definitely worth the investment."</p>
      </div>
      <div class="testemonial-card">
        <div class="testemonial-mask avatar-3"></div>
        <h3 class="testemonial-names">Aaron Henry</h3>
        <p class="testemonials-texts">"Thanks guys, keep up the good work! Português Acústico impressed me on multiple levels."</p>
      </div>
      <div class="testemonial-card">
        <div class="testemonial-mask avatar-4"></div>
        <h3 class="testemonial-names">May Stevens</h3>
        <p class="testemonials-texts">"Thank you for making it painless, pleasant and most of all hassle free! Without Português Acústico, we would have gone bankrupt by now."</p>
      </div>
    </div>
  </div>
{% endblock %}  