{% extends "base.html" %}

{% block content %}
<div class="content-textbox w-container">
    <h1 class="content-headline">Solo-Activities</h1>
    <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
</div>
<div class="content-textbox w-container">
    <div class="content-flexbox w-container">
        <div class="series-contents"><h2>Solo-Activities</h2><p>These Solo-Activities shown below are provided seperatly.<br><span class="redirect_text">If you want to buy all solo-activities switch to <a href="/series" title="Directing to Series">Series >></a></span></p></div><div class="series-contents"><h3>Price each: 19$ </h3><p>Add to basket via 🛒-Button per Solo-Activity.</p></div>
    </div>
    <div class="content-flexbox w-container">
        <div class="series-contents">Content-Box</div><div class="series-contents">Content-Box</div>
        <div class="series-contents">Content-Box</div><div class="series-contents">Content-Box</div>
        <div class="series-contents">Content-Box</div><div class="series-contents">Content-Box</div>
        <div class="series-contents">Content-Box</div><div class="series-contents">Content-Box</div>
        <div class="series-contents">Content-Box</div><div class="series-contents">Content-Box</div>
        <div class="series-contents">Content-Box</div><div class="series-contents">Content-Box</div>
        <div class="series-contents">Content-Box</div><div class="series-contents">Content-Box</div>
    </div>
</div>
{% endblock %}  