{% extends "base.html" %}

{% block content %}
<div class="content-textbox w-container">
    <h1 class="content-headline">Tutorial</h1>
    <p class="content-text">
        Every purchased tutorial will provide learning units. This units contain different kinds of exercises to learn Portuguese in an effective way.<br>
        To show what you can expect, we provide you here some examples for free.
    </p>
    <div class="content-flexbox w-container"> 
        <div class="presentation-contents"><a href="{{ url_for('static', filename='documents/MODELO_Básica_NO AEROPORTO_1_checkin.pdf') }}"><img src="{{ url_for('static', filename='images/PDF.png') }}" loading="lazy" alt="PDF icon" class="presentation-image-file image"></a></div>
        <div class="presentation-contents"><a href="{{ url_for('static', filename='documents/learning_unit_INFORMATIVA PEGADAS DE DINOSSAUROS.pdf') }}"><img src="{{ url_for('static', filename='images/PDF.png') }}" loading="lazy" alt="PDF icon" class="presentation-image-file image"></a></div>
        <div class="presentation-contents"><a href="{{ url_for('static', filename='documents/learning_unit_PRAIA.pdf') }}"><img src="{{ url_for('static', filename='images/PDF.png') }}" loading="lazy" alt="PDF icon" class="presentation-image-file image"></a></div>
    </div>

    
</div>
{% endblock %}  