body{
  min-width: 360px;
  }

  /*.nav-menu{
    min-height: 40px;
  }*/

.content-textbox {
  border-radius: 15px;
  box-shadow: 1px 1px 3px 0 #000;
}
  
.content-headline {
  text-align: center;
}
  
.content-text {
  padding-right: 40px;
  padding-left: 40px;
}
  
.content-flexbox {
  display:flex;
  flex-wrap: wrap;
  border-radius: 0px;
  box-shadow: 0px 0px 0px 0 #000;
  padding: 0px 40px;
  justify-content: space-between;
}

.series-contents {
  flex-direction: row;
  flex-shrink: 0;
  /*border-style: solid;
  border-width: 0.01em;*/
  flex:1;
  min-width:345px;
  padding-bottom: 10px;
}

.redirect_text {
  font-size: 0.75em;
}


.social-media-links {
  display:block;
  height: 100%;
  width: 100%;
}

.image-file {
  width:25px;
}



@media screen and (max-width: 768px){

  .nav-link {
    display:none;
  }

  .menu-btn {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid #fff;
  }

  .menu-btn__burger{
    width:25px;
    height:3px;
    background: white;
    border-radius: 2px;
    /*box-shadow: 0 1px 2px brown;*/
    transition: all .5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after{
    content:'';
    position: absolute;
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
    /*box-shadow: 0 1px 2px brown;*/
    transition: all .5s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-10px);
  }

  .menu-btn__burger::after {
    transform: translateY(10px);
  }




  .w-layout-grid{
    display: block;
  }
  
  .testemonial-card {
    padding-bottom: 20px;
  }


  .content-textbox {
    background-color: rgb(103, 103, 134);
  }

  .series-contents {
    padding-right: 25px;
  }


  .footer {
    padding-top: 20px;
  }


  .footer-flex-container {
    flex-direction: column;
  }

  .footer-block {
    padding: 20px 40px;
  }

  @media screen and (max-width: 360px){
    .content-textbox {
      background-color: rgb(136, 136, 114);
    }
  }
}